.cbp-mc-form {
	position: relative;
	margin-top:-70px;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.cbp-mc-form:before, 
.cbp-mc-form:after { 
	content: " "; display: table; 
}

.cbp-mc-form:after { 
	clear: both; 
}

.cbp-mc-column {
	width: 60%;
	padding: 10px 30px;
	margin:0 auto;
}

.cbp-mc-form label {
	display: block;
	padding: 10px 5px 0 2px;
	font-size: 1.0em;
	text-transform: uppercase;
	cursor: pointer;
}

.cbp-mc-form input,
.cbp-mc-form textarea,
.cbp-mc-form select {
	font-family: Lato, Calibri, 'Arial', sans-serif;
	font-size: 1.0em;
	padding: 5px 10px;
	color: #7e7975;
	display: block;
	width: 100%;
	background: transparent;
	border-radius:3px;
}

.cbp-mc-form input,
.cbp-mc-form textarea {
	border: 3px solid #999999;
}

.cbp-mc-form textarea {
	min-height: 70px;
}

.cbp-mc-form input:focus,
.cbp-mc-form textarea:focus,
.cbp-mc-form label:active + input,
.cbp-mc-form label:active + textarea {
	outline: none;
	border: 3px solid #666666;
}

.cbp-mc-form select:focus {
	outline: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #999999;
	font-size:12px;

}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#999999;
	font-size:12px;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999999;
	font-size:12px;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #999999;
	font-size:12px;
}

.cbp-mc-submit-wrap {
	text-align: center;
	padding-top: 40px;
	clear: both;
}

.cbp-mc-form input.cbp-mc-submit {
	background: #990033;
	border: none;
	color: #fff;
	width: auto;
	cursor: pointer;
	text-transform: uppercase;
	display: inline-block;
	padding: 15px 30px;
	font-size: 1.1em;
	border-radius: 3px;
	letter-spacing: 1px;
}



@media screen and (max-width: 70em) {
	.cbp-mc-column {
		width: 50%;
	}
	.cbp-mc-column:nth-child(3) {
		width: 100%;
	}
}

@media screen and (max-width: 48em) {
	.cbp-mc-column {
		width: 100%;
		padding: 10px;
	}
}