<?xml version="1.0"?>
<configuration>
  <connectionStrings>
	<add name="SQLDbConnection" 
		 connectionString="Server=.\SQLEXPRESS;DataBase=dbMcdo;User Id=teamMcdo;password=mcdo;Integrated Security=True"
		 providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
       <compilation debug="true"/>
   </system.web>
</configuration>